pipeline/FilterActivityPipeline.json
{
	"name": "FilterActivityPipeline",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Append variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('A')",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().value, 'cow'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "A",
					"value": "[\"dog\",\"cat\",\"cow\",\"sparrow\"]"
				}
			}
		],
		"variables": {
			"A": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Pratice Pipeline_7"
		},
		"annotations": []
	}
}